*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: sans-serif;

}
.navbar-brand
{
  font-family: sans-serif;
}
.navbar-toggler
{
	outline: none !important;


}
.navbar-nav li a
{
	color:#000000 !important;
	font-weight:600;
	float:left;
	text-align: left;
}
.h1.text-center
{
	font-family: sans-serif;
}